.nav {
    background-color: #f8f9fa; /* Цвет фона */
    padding: 10px; /* Отступы */
    position: fixed; /* Фиксированное положение */
    top: 0; /* Привязка к верхней части страницы */
    left: 0; /* Привязка к левой части страницы */
    width: 100%; /* Ширина на всю страницу */
    z-index: 1000; /* Уровень наложения, чтобы быть выше других элементов */
    display: flex; /* Используем Flexbox */
    justify-content: space-between; /* Распределяем элементы по краям */
}

.navList {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем отступы */
    margin: 0; /* Убираем маргин */
    display: flex; /* Выравнивание элементов в строку */
    flex-grow: 1; /* Позволяем списку занимать доступное пространство */
    justify-content: center; /* Центрируем элементы списка */
}

.navItem {
    margin: 0 10px; /* Отступ между элементами */
}

.navLink {
    text-decoration: none; /* Убираем подчеркивание */
    color: #0070f3; /* Цвет текста */
    font-weight: bold; /* Жирный шрифт */
}

.navLink:hover {
    color: #0056b3; /* Цвет текста при наведении */
}

.navLeft {
    margin-right: auto; /* Отодвигаем элементы вправо */
}

.navRight {
    margin-left: auto; /* Отодвигаем элементы влево */
}